<h1>田中電機アンケート</h1>
<form #tanakaForm="ngForm" (ngSubmit)="register(tanakaForm)" countryCity telephoneNumbers>

  <div ngModelGroup="isBuy">
    <h3>購入の意欲についてお尋ねします</h3>
    <div>
      <label><input name="wish" ng-control="options" type="radio" [value]="1" ngModel>購入する</label><br/>
      <label><input name="wish" ng-control="options" type="radio" [value]="2" ngModel>購入しない</label><br/>
      <label><input name="wish" ng-control="options" type="radio" [value]="3" ngModel>どちらともいえない</label><br/>
    </div>
    <!--
    <h3>購入すると答えていただいた方にお尋ねします。購入の予定はいつ頃でしょうか？</h3>
    <div>
      <label><input name="time" ng-control="options" type="radio" [value]="1" ngModel>1ヶ月以内</label><br/>
      <label><input name="time" ng-control="options" type="radio" [value]="2" ngModel>半年以内</label><br/>
      <label><input name="time" ng-control="options" type="radio" [value]="3" ngModel>未定</label><br/>
    </div>
     -->
  </div>

  <button type="submit">送信</button>
</form>

<!-- for toast-->
<toaster-container [toasterconfig]="config1"></toaster-container>
